<div class="flex-container">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input
        matInput
        #message
        maxlength="256"
        placeholder="Ex. I need help with ..."
        [(ngModel)]="searchFilter"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-hint align="start"
        ><strong>Do not disclose personal info</strong>
      </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
    </mat-form-field>
  </form>
</div>

<div
  *ngIf="
    (questionsData | searchFilter: searchFilter).length;
    then thenBlock;
    else elseBlock
  "
></div>

<ng-template #thenBlock>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="
        let item of questionsData | searchFilter: searchFilter;
        let index = index
      "
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        {{ item.title | lowercase }}
        <span class="example-accordion-item-description">
          click to {{ accordionItem.expanded ? "close" : "open" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        {{ item.body | lowercase }}
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</ng-template>

<ng-template #elseBlock
  ><div [ngStyle]="{ color: 'red', margin: '1%' }">
    There is no further content available.
  </div>
</ng-template>
